<div style="padding:30px 0;">
	<div class="card card-hotel-block">
		<div class="card-block">
			<div class="card-image-container">
				<img class="img-responsive center-block" src="http://placehold.it/280x280">
			</div>
			<div class="card-detail-container">
				<h4 class="card-title">Come Inn</h4>
				<h6 class="card-subtitle mb-2 text-muted">234 West St</h6>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				
				<p class="facilities">
					<span class="text-success">
						<i class="fa fa-wifi"></i> Wi-Fi
					</span>
					<span class="text-success">
						<i class="fa fa-cutlery"></i> Breakfast
					</span>
				</p>
				<p class="card-detail-price">
					$90/night
				</p>
				<a class="btn btn-primary">
					Edit hotel
				</a>
			</div>
		
		</div>
	</div>
</div>