 <div class="jumbotron jumbotron-mini">
	<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-xs-12">
					<div class="input-group search-field">
						<input placeholder="Where do you want to go?" class="form-control" />
						<span class="input-group-btn">
							<button class="btn btn-primary" type="submit">Search</button>
						</span>
					</div>
				</div>
				<div class="col-md-12 col-xs-12">
					<div class="input-group search-filters">
						<input id="chk-breakfast" class="styled-checkbox form-check-input" type="checkbox" value="value1">
						<label for="chk-breakfast">Breakfast</label>
						<input id="chk-wifi" class="styled-checkbox form-check-input" type="checkbox" value="value1">
						<label for="chk-wifi">Wi-Fi</label>
					</div>
					
				</div>
			</div>
	</div>
</div>
<div class="container">
	<div class="card card-hotel-block" *ngFor="let i of [1,2,3,4]">
		<div class="card-block">
			<div class="card-image-container">
				<img class="img-responsive center-block" src="http://placehold.it/200x200">
			</div>
			<div class="card-detail-container">
				<h4 class="card-title">Come Inn</h4>
				<h6 class="card-subtitle mb-2 text-muted">234 West St</h6>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				
				<p class="facilities">
					<span class="text-success">
						<i class="fa fa-wifi"></i> Wi-Fi
					</span>
					<span class="text-success">
						<i class="fa fa-cutlery"></i> Breakfast
					</span>
				</p>
				<span class="card-detail-price">
					$90/night
				</span>
				<a class="btn btn-primary">
					Details
				</a>
			</div>
		
		</div>
	</div>
</div>