    <div class="jumbotron container-fluid">
		<div class="container">
			<h1>Get away from it all</h1>
			<h2>
				Find, rate, compare and book the best hotels around the world
			</h2>
			<form class="form-inline row">
				<div class="input-group input-group-lg col-xs-12">
					<input placeholder="Where do you want to go?" class="form-control input-lg" />
					<span class="input-group-btn">
						<button class="btn btn-lg btn-primary" type="submit">Search</button>
					</span>
				</div>           
			</form>
		</div>
      
    </div>

  <!--  <section class="content-section container">

		<h3 class="content-section-header">Explore the top destinations</h3>

        <div class="row">
            <div *ngFor="let i of [1,2,3,4]" class="col-xs-12 col-md-3">
                <div class="panel panel-default panel-image">
                    <div class="panel-body">
                        <img src="http://placehold.it/300x300" alt="" class="img-responsive center-block" />
                    </div>
                    <div class="panel-footer">
                    <h3>New York</h3>
                    <p>300 deals</p>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <section class="content-section container">
		
		<h3 class="content-section-header text-center">Travelers' choice around the world</h3>

        <div class="row">
            <div *ngFor="let i of [1,2,3,4]" class="col-xs-12 col-md-3">
                <div class="panel panel-default panel-hotel panel-image">
                    <div class="panel-body">
                        <img src="http://placehold.it/300x300" alt="" class="img-responsive center-block" />
                    </div>
                    <div class="panel-footer">
                        <h3>Come Inn  <span class="pull-right price-tag">$80</span></h3>
                       
                        <p>4.9 based on 15 reviews</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

     <section class="content-section container-fluid bg-grey">
        <div class="row">
            <div class="col-xs-12 text-center content-section-header">
                <h3>Have a property?</h3>
                <p class="content-section-row">
					List your property on HotelAdvisor and open your door to rental income
                </p>
				<p class="content-section-row">
					<a class="btn btn-primary">List my property</a>
				</p>
            </div>
        </div>

        <div class="row">

        </div>

     </section>